* {
    box-sizing: border-box;
}

body {
    background-color: #EFEFEF;
}

.site-main-login .lh-top {
    padding-bottom: 0 !important;
    min-height: 812px !important;
}

/* css menu */
#mutschmiede-nav .menu-desktop .user-login {
    margin-left: 31px;
}

#mutschmiede-nav .dropdown .dropdown-lang,
#mutschmiede-nav .menu-desktop .user-login a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#mutschmiede-nav .menu-desktop .user-login img {
    margin-right: 9px;
}

#mutschmiede-nav .dropdown-lang::after {
    margin-left: 4px;
}

#mutschmiede-nav .dropdown .dropdown-lang img {
    margin-right: 7.7px;
}

#mutschmiede-nav .menu-desktop li {
    margin-left: 39px;
    letter-spacing: 0.2px;
    margin-bottom: 8px;
}

#mutschmiede-nav .menu-desktop li a {
    line-height: 24px;
    letter-spacing: 0.2px;
}

#mutschmiede-nav .menu-desktop .drop-lang-active:after {
    content: "\f106" !important;
}

.btn-collapse .icon-menu {
    display: block;
    width: 19px !important;
    height: 100% !important;
}

.btn-collapse .icon-close {
    display: none;
}

.show-icon-close .icon-menu {
    display: none;
}

.show-icon-close .icon-close {
    display: block;
}

/* slick slide */

.layout-homes .slick-slider {
    position: relative;
}

.layout-homes p {
    font-family: 'Raleway-medium';
}

.layout-homes .coaches .slick-slider {
    top: -90px;
}

.layout-homes .coaches .slick-slider.slick-mobile {
    top: -15px;
}

.layout-homes .slick-slider-detect .slick-slider-next {
    right: 0;
    transform: translate(50%, -50%);
}

.layout-homes .slick-slider-detect .slick-slider-previous {
    left: 0;
    transform: translate(-50%, -50%);
}

.layout-homes .coaches .slick-slider-detect .slick-slider-next,
.layout-homes .coaches .slick-slider-detect .slick-slider-previous {
    border: 0 !important;
    background-color: unset !important;
    z-index: 99;
    position: absolute;
    top: 43%;
    opacity: 1;
}

.layout-homes .funktioniert .slick-slider-detect .slick-slider-next,
.layout-homes .funktioniert .slick-slider-detect .slick-slider-previous {
    border: 0 !important;
    background-color: unset !important;
    z-index: 99;
    position: absolute;
    top: 50%;
    opacity: 1;
}

.layout-homes .coaches .slick-mobile .slick-slider-next {
    border: 0 !important;
    background-color: unset !important;
    z-index: 99;
    position: absolute;
    top: 40%;
    opacity: 1;
    right: -2px;
}

.layout-homes .coaches .slick-mobile .slick-slider-previous {
    border: 0 !important;
    background-color: unset !important;
    z-index: 99;
    position: absolute;
    bottom: 52%;
    opacity: 1;
    left: -4px;
}

.layout-homes .funktioniert .slick-mobile .slick-slider-next {
    border: 0 !important;
    background-color: unset !important;
    z-index: 99;
    position: absolute;
    top: 42%;
    opacity: 1;
    right: -13px;
}

.layout-homes .funktioniert .slick-mobile .slick-slider-previous {
    border: 0 !important;
    background-color: unset !important;
    z-index: 99;
    position: absolute;
    bottom: 51%;
    opacity: 1;
    left: -12px;
}

.layout-homes .slick-slider__slide {
    text-align: center;
    color: #000;
}

.layout-homes .slick-slider__slide {
    border-radius: 100%;
}

.layout-homes .slick-prev {
    left: 5px;
    z-index: 1000;
}

.layout-homes .slick-next {
    right: 5px;
    z-index: 1000;
}

.layout-homes .slider-nav .slick-track,
.layout-homes .slider-nav-1 .slick-track {
    height: unset !important;
}

.layout-homes .slick-slider-detect .slick-slide {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-bottom: 105px;
}

.layout-homes .funktioniert .slick-slider-detect .slick-slide.bg-pink img {
    width: auto !important;
}

.layout-homes .slick-slider-detect .slick-slide .box-action h2 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
}

.layout-homes .slick-slider-detect .slick-slide .box-action p {
    margin-bottom: 10px;
    font-family: 'Raleway-semibold' !important;
}

.layout-homes .slick-slider-detect .slick-slide .box-action a {
    font-size: 16px;
    color: #fff;
}

.layout-homes .slick-slider-detect .slick-slide.bg-pink {
    justify-content: center;
}

.layout-homes .funktioniert .slick-slider-detect .slick-list {
    height: 399px;
    z-index: 9;
}

.layout-homes .coaches .slick-slider-detect .slick-list {
    height: 100%;
    /* z-index: 9; */
    top: 14px;
}

.layout-homes .slick-slider-detect .slick-list .slick-track {
    height: 100%;
}

.layout-homes .slick-slide {
    text-align: center;
    margin-right: 7.5px;
    margin-left: 7.5px;
}

.layout-homes .funktioniert .slick-slider-detect .slick-slide img {
    width: 125px !important;
    text-align: center;
    margin-bottom: 26px;
}

.layout-homes .coaches .slick-slider-detect .slick-slide img {
    max-width: 100%;
}

.layout-homes .slick-slider-detect .slick-slide span {
    margin-top: 41px;
    font-size: 20px;
    font-family: 'Raleway-semibold';
    line-height: 25px;
    margin-bottom: 44px;
}

.layout-homes .slick-slider-detect .slick-slide h2 {
    font-size: 30px;
    font-family: 'Raleway-semibold';
    line-height: 25px;
    margin-bottom: 30px;
}

.layout-homes .slick-slider-detect .slick-slide p {
    font-size: 16px !important;
    text-align: center;
    width: 240px;
    color: black;
}

.layout-homes .slick-slider-detect .slick-slide a {
    text-decoration: underline;
    color: black;
    font-family: "Raleway-bold";
}

/* slick slide */


/* css login page */

#main-content .content-gemeinsam-box .text-box h1 {
    font-family: 'Raleway-semibold';
    margin-bottom: 34px;
}

#main-content .content-gemeinsam-box .login-button {
    display: block;
    font-family: 'Raleway-medium';
    color: #fff;
    background-color: #FBC7B2;
    border-radius: 100px;
    width: 306px;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
}

/* #main-content .content-gemeinsam-box .text-box p {
    margin-bottom: 45px;
} */

.site-main-login .content-gemeinsam-box .text-box {
    padding: 91px 94px 114px 110px !important;
}

.site-main-login .lht-vertical {
    max-height: 352px;
}

.site-main-login .text-box .forgot-pass {
    float: unset !important;
    margin-bottom: 45px;
    display: block;
    font-family: 'Raleway-italic';
}


/* css login page */


/* layout-home */

.layout-homes .lh-top {
    min-height: 897px;
    padding-bottom: 85px;
    background: #EFEFEF;
}

.layout-homes .lh-top img {
    top: 0;
    left: 0;
    z-index: 9;
}

.layout-homes .lht-vertical {
    max-height: 437px;
    height: 100%;
    bottom: 0;
    z-index: 1;
    text-align: right;
}

.layout-homes .lht-text-box {
    z-index: 99;
    bottom: 176px;
}

.layout-homes .content-gemeinsam-box .text-box {
    width: 888px;
    padding: 97px 99px 114px 110px;
    background-color: #fff;
    float: right;
    margin-right: 62px;
}


.layout-homes .lht-vertical-text {
    transform-origin: top right;
    right: 0;
    top: 50%;
    transform: rotate(270deg) translateY(19px) translateX(77px);
    width: 427px;
    z-index: 999;
    float: right;
    text-align: left;
    margin-right: 43px;
}

.layout-homes .lht-vertical-text a {
    margin-right: 50px;
    text-transform: uppercase;
    color: #000;
    line-height: 24px;
    font-size: 20px;
    font-family: "Raleway-medium";
}

.layout-homes input.email,
.layout-homes input.pass {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #FBC7B2;
    box-sizing: border-box;
    font-size: 16px;
    position: relative;
    z-index: 5;
    background: none;
    padding: 0 0 8.5px 0;
    ;
    margin-bottom: 20px;
    font-family: 'Raleway-italic';
}


#main-content .funktioniert.mobile .box {
    margin-bottom: 30px;
}

/* layout-home */

.text-center {
    text-align: center;
}

.font-size-40 {
    font-size: 40px;
}

.bg-white {
    background-color: #fff !important;
}

.bg-black {
    background-color: #000 !important;
}

.ddbuch-content .ddbuch-title h1 {
    padding: 51px 0;
    font-family: 'Raleway-semibold';
    line-height: 47px;
}

.ddbuch-wrap {
    background-color: #EFEFEF;
    padding-top: 85px;
}

.ddbuch-container {
    max-width: 1364px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.ddbuch-wrap .ddbuch-wrap-left {
    border: 1px solid #FBC7B2;
    border-radius: 10px;
    max-width: 342px;
    width: 100%;
}

.ddbuch-wrap .ddbuch-wrap-right {
    max-width: 1006px;
    width: 100%;
}

.ddbuch-wrap .ddbuch-wrap-right .tab-content {
    border: 1px solid #FBC7B2;
    border-radius: 10px;
}

.ddbuch-wrap-left .dd-wl-img {
    margin-top: 40px;
    margin-bottom: 26px;
}

.ddbuch-wrap-left .dd-wl-img img {
    width: 144px;
    margin: auto;
}

.tab-wrapper h3 {
    font-size: 30px;
    font-family: 'Raleway-semibold';
    margin-bottom: 18px;
    color: #000;
    cursor: pointer;
}

.tab-wrapper h3 a {
    color: #000;
}

.tab-wrapper i.fa {
    font-size: 16px;
    margin-left: 10px;
}

.tabs-nav li a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 16px;
    color: #000;
    line-height: 25px;
    letter-spacing: 1px;
}

.tabs-nav li a i.fa {
    margin-left: 10px;
}

.ddbuch-navigation {
    margin: 94px 0 0 0;
}

.ddbuch-navigation ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.ddbuch-navigation ul li {
    margin: 0 6px;
}

.ddbuch-navigation ul li a {
    color: #000;
    font-family: 'Raleway-semibold';
    font-size: 20px;
}

.site-main-coaches .form .coach-box .coach .coach-img {
    padding-bottom: 51px !important;
}

.ddbuch-wrap-left .tab-wrapper {
    padding: 0 36px 46px 39px;
}

.site-main-coaches .form .coach-box .coach .coach-infor ul {
    margin-bottom: 16px !important;
}

.site-main-coaches .form .coach-box .coach .coach-infor .description {
    padding: 21px 146px 6px 20px !important;
}

.tab-content-show .tab-wrap-top {
    padding: 58px 44px 53px 41px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.tab-content-show .tab-wrap-top i.fa {
    color: #FBC7B2;
}

.tab-content-show .tab-wrap-top h3 {
    font-size: 30px;
    font-family: 'Raleway-semibold';
}

.tab-wrap-top-icon a {
    margin-left: 22px;
    color: #000;
    font-family: 'Raleway-semibold';
}

.tab-section .tab-section-icon {
    background-color: #FBC7B2;
    padding: 29px 44px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.tab-section .tab-section-icon {
    font-size: 20px;
    font-family: 'Raleway-semibold';
}

.tab-section .tab-section-icon a i.fa {
    color: #fff;
    margin-right: 7px;
}

.tab-section .tab-section-icon a {
    font-size: 16px;
    color: #000;
    font-family: 'Raleway-semibold';
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.tab-section .tab-section-icon a img {
    margin-right: 7px;
}

.ddbuch-content .ddbuch-wrap {
    margin-bottom: 89px;
}

.tab-section .tab-section-icon h5 {
    font-family: 'Raleway-semibold';
}

.tab-section .tab-section-content {
    padding: 40px 44px 0 44px;
}

.tab-section .tab-section-content p {
    line-height: 19px;
    margin-bottom: 15px;
}

.tab-section .tab-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 40px;
    padding-right: 80px;
    margin-bottom: 80px;
    margin-top: 21px;
}

.tab-section .tab-button a {
    color: #000;
}

.tab-section .tab-button .button-druken {
    width: 306px;
    padding: 15px 0;
    text-align: center;
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
    border-radius: 100px;
    font-family: 'Raleway-Medium';
}

.tab-section .tab-button .button-oben i.fa {
    color: #FBC7B2;
}

.text-underline {
    text-decoration: underline;
}

.hidden-icon,
.drop-menu {
    display: none;
}

.active-icon,
.drop-active {
    display: block !important;
}

.tabs-nav .drop-menu {
    margin-bottom: 25px;
    display: none;
}

.tab-content-active {
    display: block !important;
}

.fa-up:before {
    content: "\f077";
}

.fa-down:before,
.fa-down-active::before {
    content: "\f078";
}


/* profile-main */

.profile-main .profile-banenr-top {
    background: #fff;
    padding-top: 51px;
    padding-bottom: 52px;
}

.profile-main .profile-banenr-top h1 {
    font-family: 'Raleway-semibold';
    font-size: 40px;
    text-align: center;
}

.profile-main .profile-wrap {
    background: #EFEFEF;
    padding-top: 83px;
    padding-bottom: 89px;
}

.profile-main .profile-wrap .profile-content {
    width: 1364px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #FBC7B2;
    padding: 57px 58px 72px 55px;
}

.line-bottom {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FBC7B2;
    margin-bottom: 40px;
    font-family: 'Raleway-semibold';
}

.group-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

#dropdown {
    appearance: none;
    outline: none;
    position: relative;
}

#dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../images/down.svg");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}

.group-all {
    margin-bottom: 30px;
}

.group-all .group-label {
    margin-bottom: 20px;
    font-family: 'Raleway-semibold';
    font-size: 20px;
    display: block;
}

.group-all .group-input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #FBC7B2;
    padding: 23px 21px 24px 21px;
    font-size: 16px;
}

.profile-content-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.profile-content-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
}

.profile-content-top .profile-ct-left,
.col-left {
    width: 765px;
}

.profile-content-top .profile-ct-left h3 {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 35px;
    font-family: 'Raleway-semibold';
}

.profile-content-top .profile-ct-right,
.col-right {
    width: 399px;
    margin-left: 84px;
}

.profile-ct-right .profile-sumit {
    background-color: #A6BEA5;
    border-radius: 100px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    display: block;
    margin-bottom: 29px;
    font-family: 'Raleway-medium';
}

.profile-ct-right .profile-ctr-img img {
    width: 100%;
    height: 399px;
    border-radius: 100% !important;
    margin-bottom: 41px;
}

.profile-ct-right .line-bottom {
    margin-bottom: 30px;
}

.mr-bottom-51 {
    margin-bottom: 51px !important;
}

.profile-specifications {
    margin-top: 50px;
}

.profile-specifications p {
    line-height: 19px;
}

.profile-specifications .profile-s-bottom {
    margin-top: 15px;
}

.profile-specifications .profile-s-bottom span {
    font-weight: 600;
    text-decoration: underline;
}

.profile-specifications-bottom .profile-sb-flex {
    text-align: center;
    height: 260px;
    border: 1px solid #FBC7B2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.profile-specifications-bottom img {
    margin-bottom: 15px;
}

.profile-specifications-bottom p {
    font-family: 'Raleway-semibold';
}

.profile-content-center .editparent {
    margin-bottom: unset !important;
}

.profile-content-bottom {
    margin-top: 50px;
}

.profile-content-bottom .profile-cb-icon:first-of-type .profile-cb-icon-desktop {
    margin-top: 0;
}

.profile-content-bottom .profile-cb-icon .profile-cb-icon-desktop {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
}

.ddbuch-content .profile-content-bottom .line-bottom {
    margin-bottom: 20px;
}

.profile-content-bottom .profile-cb-icon:first-of-type {
    margin-top: 20px !important;
}

.profile-content-bottom .profile-cb-icon .item-icon {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 40px;
    width: 103px;
    text-align: center;
}

.profile-content-bottom .profile-cb-icon .item-icon p {
    line-height: 19px;
}

.profile-content-bottom .profile-cb-icon .item-icon img {
    margin-bottom: 10px;
}

.profile-content-bottom .profile-cb-icon .item-icon:last-child {
    margin-right: unset;
}

.ddbuch-content .profile-cb-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-top: 80px;
}

.profile-cb-button .profile-sumit {
    margin-right: 30px;
    background-color: #A6BEA5;
    border-radius: 100px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    width: 306px;
    display: block;
    font-family: 'Raleway-medium';
}


/* site-main-coaches */

.site-main-coaches .container {
    padding: 0 !important;
    margin: auto !important;
}

.site-main-coaches .container .form {
    width: 100% !important;
}

.site-main-coaches .form .header-table {
    margin-bottom: 20px;
}

.site-main-coaches .form .coach-box .coach .coach-img {
    padding-top: 70px;
}

.site-main-coaches .form .coach-box .coach .coach-img .link a {
    font-family: 'Raleway-medium';
    line-height: 19px;
}

.site-main-coaches .header-table ul li a {
    color: #000;
    font-family: 'Raleway-medium';
}

.form-face .header-table ul {
    margin-right: 20px !important;
}

.form-face .header-table ul li:first-child {
    margin-right: 10px !important;
}

.form-face .table-booking table tbody tr:hover {
    background-color: #FBC7B2 !important;
}

.form-face .header-table ul li {
    margin-right: 0 !important;
    margin-left: 15px !important;
}

.site-main-coaches .form .coach-box .coach .coach-infor h3,
.site-main-coaches .form .coach-box .coach .coach-infor h1 {
    font-family: 'Raleway-semibold';
}

.site-main-coaches .form .coach-box .coach .coach-img .action div a {
    display: flex;
    align-items: center;
}

.site-main-coaches .form .coach-box .coach .coach-img .action div a img {
    margin-right: 5px;
}

.site-main-coaches .action a,
.site-main-coaches .delete a {
    font-family: 'Raleway-medium';
    color: #000;
}

.site-main-coaches .link a {
    font-family: 'Raleway-medium';
    color: #fff;
}

.header-table ul {
    justify-content: flex-end;
}

.site-main-face2face .header-table ul {
    margin-right: 30px;

}

.site-main-face2face label {
    font-size: 20px;
    letter-spacing: 0.8px;
}

.site-main-face2face .header-table ul li:first-child {
    margin-right: 10px !important;
}

.site-main-face2face .header-table ul li {
    margin-right: 0 !important;
    margin-left: 15px;
}

.header-table ul li:last-child {
    margin-right: 25px;
}

.site-main-coaches .header-table ul li:last-child {
    margin-right: 0px;
}

.site-main-coaches .header-table ul li {
    margin-right: 0px;
    margin-left: 15px;
}

.site-main-coaches .header-table ul li a {
    letter-spacing: 0px;
}

.site-main-coaches .header-table ul li:first-child {
    margin-right: 10px;
}

.site-main-coaches .form .coach-box .coach .coach-img .action {
    width: unset !important;
}

.site-main-coaches .form .coach-box .coach .coach-img .action .status {
    margin-right: 20.5px;
}

.site-main-coaches .form .coach-box .coach .coach-infor h3,
.site-main-coaches .form .coach-box .coach .coach-infor h1 {
    line-height: 19px;
}

.site-main-coaches .form .coach-box .coach .coach-infor .name h1 {
    line-height: 35px;
}

.site-main-coaches .form .box-name-button a {
    text-transform: uppercase;
    padding: 2px 13px;
    margin-left: 10px;
    color: #000;
}

.bg-silver {
    background-color: #EFEFEF;
}

.bg-pink {
    background-color: #FBC7B2;
}

.bg-pink-0 {
    background-color: #fffbf9;
}

.site-main-coaches .form .coach-box .coach .coach-infor .name {
    padding: 58px 20px;
}


/* site-main-gutscheincodes */

.site-main-face2face .table-booking .table-responsive,
.site-main-gutscheincodes .table-booking .table-responsive {
    border-radius: 10px;
    border: 1px solid #FBC7B2;
    overflow: auto;
    max-height: 611px;
    padding-right: 24px;
    background-color: #fff;
    margin-left: 1px;
}

.site-main-generate .table-booking .table-responsive {
    border-radius: 10px;
    border: 1px solid #FBC7B2;
    overflow: auto;
    max-height: 611px;
    padding-right: 24px;
    margin-left: 1px;
}

.site-main-generate .table-booking .table-responsive-mobile {
    background-color: #fff;

}

.site-main-generate .table-top .tt-item .table-responsive {
    border-radius: 10px;
    border: 1px solid #FBC7B2;
    overflow: auto;
    max-height: 303px !important;
    padding-right: 24px;
}

.site-main-generate .table-booking .table-responsive .table,
.table-customer .table-booking .table-responsive .table,
.site-main-face2face .table-booking .table-responsive .table,
.site-main-gutscheincodes .table-booking .table-responsive .table {
    margin-bottom: 0;
    background-color: #fff !important;
}

.table-customer .table-booking .scroll-wrapper {
    border-radius: 10px;
    border: 1px solid #FBC7B2;
    overflow: auto;
    max-height: 329px !important;
    padding-right: 24px !important;
    padding-left: 17px !important;
    padding-top: 24px !important;
    padding-bottom: 23px !important;
    background-color: #fff;
}

.site-main-face2face .table-booking .table-responsive .table th,
.site-main-gutscheincodes .table-booking .table-responsive .table th {
    border-bottom: 1px solid #FBC7B2;
    border-right: 1px solid #FBC7B2;
    border-top: unset;
    font-family: 'Raleway-semibold';
    padding: 16px 21px;
}

.site-main-generate .border-top-bottom-0 .table-responsive .table tr th {
    border-bottom: unset !important;
    border-top: unset !important;
    border-right: 1px solid #FBC7B2;
}

.site-main-generate .border-top-bottom-0 .table-responsive .table tr td:last-child,
.site-main-generate .border-top-bottom-0 .table-responsive .table tr th:last-child {
    border-right: unset;
}

.site-main-generate .table-booking .table-responsive .table td,
.site-main-face2face .table-booking .table-responsive .table td,
.site-main-gutscheincodes .table-booking .table-responsive .table td {
    border-right: 1px solid #FBC7B2;
    border-top: 1px solid #FBC7B2;
    padding: 16px 21px;
    line-height: 19px;
}

.site-main-generate .table-booking .table-responsive u,
.site-main-face2face .table-booking .table-responsive u,
.site-main-gutscheincodes .table-booking .table-responsive u,
.site-main-generate .table-booking .table-responsive .table td u,
.site-main-face2face .table-booking .table-responsive .table td u,
.site-main-gutscheincodes .table-booking .table-responsive .table td u {
    text-decoration: underline;
}

.site-main-generate .table-top .tt-item .table-responsive .table td {
    border-right: unset !important;
}

.site-main-generate .table-top .tt-item .table-responsive .table tbody tr:first-child td {
    border-top: unset !important;
}

.site-main-generate .wrap-top-face .table-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-bottom: 20px;
}

.site-main-generate .wrap-top-face .table-top .tt-item p {
    font-size: 20px;
    font-family: 'Raleway-semibold';
    margin-bottom: 20px;
}

.site-main-generate .wrap-top-face .table-top .tt-item {
    width: 50%;
    padding-right: 8px;
}

.site-main-generate .wrap-top-face .table-top .tt-item:last-child {
    padding-right: 0;
}

.site-main-generate .tt-button {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 67px;
}

.site-main-generate .tt-button a {
    display: block;
    width: 306px;
    border-radius: 100px;
    color: #fff;
    padding: 15px 0;
    text-transform: uppercase;
    font-family: 'Raleway-medium';
}

.table-customer .table-booking .table-responsive .table th,
.table-customer .table-booking .table-responsive .table td {
    border: 0 !important;
    background-color: unset !important;
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 10px !important;
}

.table-customer .table-booking .table-responsive .table td:first-child {
    width: 61%;
}

.table-customer .table-booking .table-responsive .table td {
    margin-bottom: 10px;
    line-height: 19px;
}

.table-customer .table-booking .table-responsive .table td:last-child {
    text-decoration: underline;
}

.site-main-face2face .table-booking .table-responsive .table tbody tr td:last-child,
.site-main-gutscheincodes .table-booking .table-responsive .table tbody tr td:last-child {
    border-right: unset;
}

.site-main-face2face .table-booking .table-responsive .table thead tr th:last-child,
.site-main-gutscheincodes .table-booking .table-responsive .table thead tr th:last-child {
    border-right: unset;
}

.site-main-generate .table-striped tbody tr:nth-of-type(odd),
.site-main-face2face .table-striped tbody tr:nth-of-type(odd),
.site-main-gutscheincodes .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fffbf9 !important;
}

site-main-generate .table-striped tbody tr:nth-of-type(odd),
.table-customer .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff !important;
}

.site-main-face2face .table-booking tbody tr:hover,
.site-main-gutscheincodes .table-striped tbody tr:hover {
    background-color: #FBC7B2 !important;
}

.site-main-generate .table-striped tbody tr:hover,
.table-customer .table-striped tbody tr:hover {
    background: #fff !important;
}

.site-main-face2face .form .subtitle h1,
.site-main-gutscheincodes .form .subtitle h1 {
    text-transform: none;
    line-height: 47px;
    letter-spacing: 1.5px;
}

.site-main-gutscheincodes .content {
    padding: 48px 0px 93px 0px !important;
}

.site-main-face2face .form .tab a,
.site-main-gutscheincodes .form .tab a {
    line-height: 30px;
    letter-spacing: 1px;
}

.site-main-gutscheincodes .form .tab {
    margin-bottom: 100.5px !important;
}

.actived {
    padding-bottom: 5.5px;
}

.form-coach#main-content .header-table {
    margin-bottom: 20px;

}

.form-coach#main-content .group-form .group-input label {
    margin-bottom: 20px;
}

.form-coach#main-content .content label {
    font-family: 'Raleway-semibold';
    font-size: 20px;
    letter-spacing: 0.5px;
}

.form-coach .form .form-input {
    display: unset !important;
    flex-direction: unset !important;
    margin-bottom: unset !important;
}

.form-coach#main-content .group-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.form-coach#main-content .group-form .group-input label {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
}

.form-coach#main-content .group-form .group-input input {
    width: 444px;
    border-radius: 10px;
    border: 1px solid #FBC7B2;
    padding: 24px 21px;
    font-size: 16px;
}

.site-main-generate label {
    font-size: 20px;
    font-family: 'Raleway-semibold';
}

.form-face .header-table {
    margin-bottom: 20px;
}

.form-coach#main-content .group-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}

.form-coach#main-content .group-button a {
    width: 306px;
    padding: 15px 0;
    text-align: center;
    border-radius: 100px;
    background-color: #FBC7B2;
    color: #fff;
    text-transform: uppercase;
    margin-right: 20px;
    font-family: 'Raleway-medium';
}

.site-main-face2face .title .text h1 {
    font-family: 'Raleway-semibold';
    letter-spacing: 1px;
}

.table-booking .header-table ul li a {
    font-family: 'Raleway-medium';
    color: #000;
}


/* face page */

.wrap-top-face .form-input input,
.wrap-top-face .form-input label {
    width: 100%;
    letter-spacing: 0.5px;
    font-size: 20px;
    letter-spacing: 0;
}

.wrap-top-face .form-input label {
    font-family: 'Raleway-semibold';
    line-height: 24px;
    margin-bottom: 20px;
}

.wrap-top-face .form-input a {
    width: 306px;
    border-radius: 100px;
    background-color: #FBC7B2;
    text-align: center;
    line-height: 18px;
    padding: 15px 0;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway-medium';

}

.wrap-top-face .form-input input {
    line-height: 19px;
    border-radius: 10px;
    border: 1px solid #FBC7B2;
    margin-bottom: 20px;
    padding: 24px 20px;
    height: 66px;
    font-style: italic;
    font-size: 16px;
    color: #000;
}

.wrap-top-face .form-top-face {
    padding-top: 87px;
    margin-bottom: 50px;
}

.wrap-top-face .form-top-face {
    padding-top: 87px;
    display: flex;
    justify-content: flex-start;
}

.wrap-top-face .form-bottom-face {
    display: flex;
    justify-content: flex-start;
}

.wrap-top-face .form-bottom-face .coaching-unit,
.wrap-top-face .form-top-face .check-customer-number {
    width: 950px;
}

.wrap-top-face .form-bottom-face .manage-customer,
.wrap-top-face .form-top-face .add-customer-number {
    width: 398px;
    margin-left: 18px;
}

.wrap-top-face .form-top-face .add-customer-number a {
    width: 100%;

}

.form-bottom-face .input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.form-bottom-face .input input {
    margin-right: 16px;
}

.form-bottom-face .input input:last-child {
    margin-right: unset;
}

.site-main-face2face .table-booking {
    padding-bottom: 89px;
}

.manage-customer .table-booking table tbody tr:hover {
    background-color: unset !important;
}

/* face page */

@media (max-width: 576px) {
    .container {
        padding: 0;
    }

    .hide-mobile {
        display: none;
    }

    .profile-main .profile-wrap .profile-content {
        width: 100%;
        padding: 37px 20px 45px 20px;
    }

    .profile-ct-right .title-top {
        padding: 0 76px;
        text-align: center;
        margin-bottom: 20px;
        font-size: 20px;
        font-family: 'Raleway-semibold';
    }

    .profile-main .profile-wrap {
        padding: 54px 15px;
    }

    .profile-content-top {
        flex-direction: column-reverse;
    }

    .profile-content-top .profile-ct-right,
    .col-right,
    .profile-content-top .profile-ct-left,
    .col-left {
        width: 100%;
        margin-left: unset;
    }

    .profile-ct-right .profile-sumit {
        margin-bottom: 53px;
    }

    .profile-ct-right .profile-sumit.bg-black {
        margin-bottom: 40px;
    }

    .profile-ct-right .profile-ctr-img img {
        width: 234px;
        height: 234px;
        display: block;
        margin: 0 auto 26px auto;
    }

    .profile-ct-right .line-bottom {
        margin-bottom: 40px;
    }

    .profile-specifications-bottom {
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .profile-ct-left .group-line {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .wysihtml5-toolbar {
        text-align: center;
        margin-bottom: 10px !important;
    }

    ul.wysihtml5-toolbar>li {
        float: unset !important;
        margin: 0 0 10px 0 !important;
    }

    .editor-wysihtml5 {
        height: 546px !important;
    }

    .wysihtml5-sandbox {
        padding: 24px 23px 28px 20px;
    }

    .profile-cb-button {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 50px;
    }

    .profile-cb-button .profile-sumit {
        width: 100%;
    }

    .profile-cb-button .profile-sumit.bg-black {
        margin-top: 20px;
    }

    .profile-content-bottom .profile-cb-icon {
        display: unset;
        flex-direction: unset;
        flex-wrap: unset;
        justify-content: unset;
        align-items: unset;
        align-content: unset;
    }

    .profile-content-bottom .profile-cb-icon-mobile .cricle-profile-icons {
        width: 236px;
        margin: auto;
        /* padding: 0 53px; */
    }

    .profile-content-bottom .profile-cb-icon .item-icon {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .profile-content-bottom .profile-cb-icon .item-icon:last-child {
        margin-right: 15px;
    }

    .ddbuch-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .ddbuch-wrap {
        padding-left: 17px;
        padding-right: 16px;
    }

    .tab-wrapper h3 {
        font-size: 25px;
        text-align: center;
    }

    .ddbuch-wrap-left .tab-wrapper {
        padding: 0 56px 51px 19px;
    }

    .ddbuch-wrap .ddbuch-wrap-left {
        margin-bottom: 30px;
    }

    .ddbuch-wrap .ddbuch-wrap-left,
    .ddbuch-wrap .ddbuch-wrap-right {
        max-width: 100%;
    }

    .tab-content-show .tab-wrap-top {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        padding: 20px 15px 20px 19px;
    }

    .tab-section .tab-section-icon {
        padding: 20px 15px 20px 19px;
    }

    .tab-section .tab-section-content {
        padding: 20px 15px 20px 19px;
    }

    .ddbuch-navigation {
        margin: 45px auto;
    }

    .tab-section .tab-button {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-end;
        align-content: stretch;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 45px;
        margin-top: 20px;
    }

    .tab-button .button-oben {
        margin-bottom: 20px;
        color: #000;
    }

    .tab-wrap-top-icon {
        margin-top: 22px;
    }

    .tab-content-show .tab-wrap-top h3 {
        font-size: 20px;
    }

    .tab-wrap-top-icon a:first-child {
        margin-left: unset;
        margin-top: 22px;
    }

    .site-main-coaches .form .coach-box .coach {
        flex-direction: column;
    }

    .site-main-coaches .form .coach-box .coach .coach-infor,
    .site-main-coaches .form .coach-box .coach .coach-img {
        width: 100%;
    }

    .site-main-coaches .form .coach-box .coach .coach-img {
        border-bottom: 1px solid #FBC7B2;
        padding-bottom: 24px;
        padding-top: 32px;
    }

    .site-main-coaches .title .text h1 {
        font-size: 25px;
    }

    .site-main-coaches .form .header-table {
        font-family: 'Raleway-medium';
        padding-left: 19px;
        padding-right: 19px;

    }

    .site-main-coaches#main-content .header-table {
        margin-bottom: 17px;
    }

    .site-main-coaches .header-table ul li {
        margin-left: 0px;
        margin-right: 15px;

    }

    .site-main-coaches .form .coach-box .coach .coach-img {
        padding-bottom: 20px !important;
    }

    .site-main-coaches .header-table .search {
        width: 100%;
    }

    .site-main-coaches .form .coach-box .coach .coach-infor ul {
        margin-bottom: 20px;
    }

    .site-main-coaches .header-table .search ul {
        display: block;
    }

    .site-main-coaches .header-table .search ul li {
        float: left;
        line-height: 19px;
    }

    .site-main-coaches .header-table .search ul li:first-child {
        width: 100%;
        margin-bottom: 5px;
    }

    .form-coach#main-content .content {
        padding: 20px 16px 0 17px !important;
    }

    .site-main-coaches .form .coach-box:last-of-type() {
        margin-bottom: unset !important;
    }

    .site-main-coaches .form .coach-box {
        margin-bottom: 45px;
    }

    .site-main-coaches .ddbuch-navigation {
        margin: 0;
        padding-bottom: 44px;
    }

    .site-main-coaches .form .coach-box .coach .coach-infor .description {
        padding: 25px 27px 40px 19px;
    }

    .site-main-coaches .form .coach-box .coach .coach-infor .infor {
        padding: 25px 35px 30px 19px;
    }

    .site-main-coaches .form .coach-box .coach .coach-infor p {
        margin: 0;
        font-family: 'Raleway-medium';
    }

    .site-main-coaches .form .coach-box .coach .coach-infor ul li {
        font-family: 'Raleway-medium';
    }

    .site-main-coaches .coach-infor .infor-line-box {
        margin-bottom: 30px;
    }

    .site-main-coaches .form .coach-box .coach .coach-img .img {
        width: 234px;
        height: 234px;
        margin: 0 auto 20px auto;
        margin-top: 30px;
    }

    .site-main-coaches .form .coach-box .coach .coach-img .img img {
        width: 100%;
    }

    .site-main-coaches .form .coach-box .coach .coach-img .action {
        margin-bottom: 0;
    }

    .header-table ul {
        justify-content: flex-start;
    }

    .site-main-coaches .coach-img .name h1 {
        font-size: 20px !important;
        font-family: 'Raleway-semibold';
        margin-bottom: 40px;
    }

    .site-main-coaches .form .box-name-button a {
        font-size: 14px;
        margin-left: 0px;
    }

    .site-main-coaches .form .box-name-button {
        margin-top: 10px;
    }

    .site-main-gutscheincodes#main-content .content {
        padding: 0 35px !important;
    }

    .form-coach#main-content .group-form .group-input input,
    .site-main-gutscheincodes#main-content .content .form {
        width: 100%;
    }

    .site-main-gutscheincodes .form .tab a {
        font-size: 16px;
        margin-right: 32px;
        margin-top: 20px;
        font-family: 'Raleway-medium';
        line-height: 19px;
    }

    .site-main-gutscheincodes .form .subtitle {
        margin-right: 0;
        margin-bottom: 54px;
    }

    .site-main-gutscheincodes .form .subtitle h1 {
        font-size: 25px;
        padding-right: 57px;
        font-family: 'Raleway-semibold';
        letter-spacing: 1.5px;
        line-height: 30px;
    }

    .site-main-gutscheincodes#main-content .group-button {
        margin-top: 0;
    }

    .site-main-gutscheincodes#main-content .content label {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .form-coach#main-content .group-button,
    .form-coach#main-content .group-form {
        flex-direction: column;
        width: 100%;
    }

    .form-coach#main-content .group-button a:first-child {
        margin-bottom: 20px;
    }

    .form-coach#main-content .group-button a {
        width: 100%;
        margin-right: 0;
        font-family: 'Raleway-medium';
    }

    .form-coach#main-content .group-form .group-input label {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .form-coach#main-content .group-form .group-input {
        margin-bottom: 20px;
    }

    .site-main-gutscheincodes .title .text h1 {
        font-size: 25px;
    }

    .site-main-gutscheincodes .form .tab {
        display: flex;
        margin-bottom: 45px !important;
    }

    .site-main-gutscheincodes .form .table-booking {
        margin-top: 79px;
        margin-bottom: 45px;
    }

    .site-main-generate .table-booking .label,
    .site-main-face2face .table-booking .label,
    .site-main-gutscheincodes .form .table-booking .label {
        width: 100%;
    }

    .site-main-generate .table-booking .header-table,
    .site-main-face2face .table-booking .header-table,
    .site-main-gutscheincodes .form .table-booking .header-table {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .site-main-face2face .title .text {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .site-main-face2face .title .text h1 {
        font-size: 25px;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .site-main-face2face .title .text h1 span {
        width: 100%;
        display: block;
        letter-spacing: 1px;
        font-family: 'Raleway-semibold';
    }

    .wrap-top-face .form-input label {
        font-size: 16px;
    }

    .wrap-top-face .form-top-face div:first-child {
        margin-bottom: 40px;
    }

    .wrap-top-face .form-top-face .check-customer-number,
    .wrap-top-face .form-top-face .add-customer-number {
        margin-left: unset;
        width: 100%;
    }

    .wrap-top-face .form-top-face {
        padding-top: 0 !important;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .wrap-top-face .form-bottom-face {
        flex-direction: column-reverse;
        width: 100%;
        margin-bottom: 80px;
    }

    .wrap-top-face .form-bottom-face .coaching-unit,
    .wrap-top-face .form-top-face .check-customer-number {
        width: 100%;
        margin-left: unset;
    }

    .wrap-top-face .form-bottom-face .manage-customer,
    .wrap-top-face .form-top-face .add-customer-number {
        margin-left: unset !important;
        width: 100%;
    }

    .site-main-face2face .content {
        padding: 42px 35px 0 35px;
    }

    .wrap-top-face .form-input a,
    .table-customer .table-booking .scroll-wrapper {
        width: 100%;
    }

    .site-main-face2face .table-booking {
        padding-bottom: 35px;
    }

    .form-bottom-face .input {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: center;
    }

    .form-bottom-face .input input {
        width: 100%;
    }

    /* .site-main-face2face .table-booking .table-responsive,
    .site-main-gutscheincodes .table-booking .table-responsive {
        padding-right: 0 !important;
        max-height: 329px;
    } */

    .table-customer .table-booking .scroll-wrapper,
    .site-main-gutscheincodes .table-booking .scroll-wrapper {
        padding-right: 0 !important;
    }

    .layout-homes .slick-wrapper .slide-item {
        background-color: rebeccapurple;
        color: aqua;
        display: flex !important;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 200px;
        /* border: 1px solid white; */
    }

    .site-main-generate .wrap-top-face .table-top {
        flex-direction: column;
    }

    .site-main-generate .wrap-top-face .table-top .tt-item {
        width: 100%;
        padding-right: 0;
    }

    .site-main-generate .content {
        padding: 42px 37px;
    }

    .title .text h1 {
        font-size: 25px;
        font-family: 'Raleway-semibold';
    }

    .site-main-generate .wrap-top-face .table-top .tt-item p {
        font-size: 16px;
        letter-spacing: 0;
    }

    .site-main-generate .wrap-top-face .table-top .tt-item:last-child {
        margin-top: 40px;
    }

    .site-main-generate .wrap-top-face .header-table .label label {
        margin-bottom: 20px;
        font-size: 16px;
    }

    #main-content .content-gemeinsam-box {
        width: 353px;
        margin: auto;
    }

    #main-content .content-gemeinsam-box .login-button {
        width: 100%;
    }

    #main-content .content-gemeinsam-box .text-box h1 {
        margin-bottom: 20px;
    }

    #main-content .content-gemeinsam-box .text-box {
        padding: 22px 22px 45px 29px !important;
    }

    #main-content .funktioniert {
        margin-top: 44px;
    }

    #main-content .content-gemeinsam-box .text-box p {
        margin-bottom: 23px;
    }

    .site-main-login .lh-top img {
        width: 100%;
        max-width: unset;
        min-height: unset;
        object-fit: unset;
    }

    .site-main-login .lht-vertical {
        max-height: 105px;
    }

    .site-main-login .lht-text-box {
        bottom: unset !important;
        top: 235px;
    }

    .site-main-login .lh-top {
        min-height: 623px !important;
    }

    .site-main-login .text-box .forgot-pass {
        float: unset !important;
        margin-bottom: 45px;
        display: block;
    }

    .table-customer .table-booking .table-responsive .table td:first-child {
        width: 66%;

    }

    .form-bottom-face .input input {
        margin-bottom: 10px;
    }

    .wrap-top-face .coaching-unit a {
        margin-top: 10px;
    }

    .header-table ul li:first-child {
        margin-left: 0 !important;
    }

    #main-content .table-responsive-mobile {
        position: relative !important;
        max-height: 329px !important;
    }

    .table-responsive-mobile .top-content-table {
        width: 30%;
        position: fixed;
        background-color: transparent;
        border-right: 1px solid #FBC7B2;
        height: 329px;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 14px 0 14px 20px;
        width: 114px;
    }

    .table-responsive-mobile .top-content-table p {
        font-family: 'Raleway-semibold';
        font-size: 16px;
    }

    .table-responsive-mobile .table-striped {
        width: calc(100% - 114px);
        float: right;
    }

    .table-responsive-mobile .table-striped .content-table-item {
        border-bottom: 1px solid #FBC7B2;
        padding: 14px 0 14px 20px;
    }

    .table-responsive-mobile .table-striped .content-table-item p {
        line-height: 19px;
        margin-bottom: 6px;
    }

    .table-responsive-mobile .table-striped .content-table-item p:last-child {
        margin-bottom: 0;
    }

    .table-responsive-mobile label {
        font-size: 16px;
        font-family: 'Raleway-semibold';
    }

    .ddbuch-content .ddbuch-wrap {
        margin-bottom: 45px;
        padding-top: 46px !important;
    }

    .ddbuch-content .ddbuch-title h1 {
        font-size: 25px;
        line-height: 30px;
        padding: 45px 0;
    }

    .tab-section .tab-section-icon h5 {
        font-size: 20px;
    }

    .tab-section .tab-section-icon a {
        margin-right: 0;
    }

    .tab-section .tab-section-icon {
        padding: 29px 21px 27px 19px;
    }

    .tab-section .tab-section-content p {
        line-height: 25px;
    }

    .tab-section .tab-button a.button-oben {
        text-transform: uppercase;
        margin-right: 31px;
        font-size: 16px;
        font-family: 'Raleway-semibold';
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .tab-section .tab-button .button-oben img {
        margin-right: 7px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 992px) {}

@media (max-width: 1180px) {}


/* profile-main