* {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.font-size-40 {
    font-size: 40px;
}

.bg-white {
    background-color: #fff !important;
}

.bg-black {
    background-color: #000!important;
}

.ddbuch-content .ddbuch-title h1 {
    margin: 52px 0;
}

.ddbuch-wrap {
    background-color: #EFEFEF;
    padding-top: 85px;
}

.ddbuch-container {
    max-width: 1364px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.ddbuch-wrap .ddbuch-wrap-left {
    border: 1px solid #FBC7B2;
    border-radius: 10px;
    max-width: 342px;
    width: 100%;
}

.ddbuch-wrap .ddbuch-wrap-right {
    max-width: 1006px;
    width: 100%;
}

.ddbuch-wrap .ddbuch-wrap-right .tab-content {
    border: 1px solid #FBC7B2;
    border-radius: 10px;
}

.ddbuch-wrap-left .dd-wl-img {
    margin-top: 40px;
    margin-bottom: 26px;
}

.ddbuch-wrap-left .dd-wl-img img {
    width: 144px;
    margin: auto;
}

.tab-wrapper h3 {
    font-size: 30px;
    font-family: 'Raleway-semibold';
    margin-bottom: 18px;
}

.tabs-nav li a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 16px;
    color: #000;
    line-height: 25px;
}

.tabs-nav li a i.fa {
    margin-left: 10px;
}

.ddbuch-navigation {
    margin: 89px 0;
}

.ddbuch-navigation ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.ddbuch-navigation ul li {
    margin: 0 5px;
}

.ddbuch-navigation ul li a {
    color: #000;
}

.ddbuch-wrap-left .tab-wrapper {
    padding: 0 36px 46px 39px;
}

.tab-content-show .tab-wrap-top {
    padding: 58px 44px 53px 41px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.tab-content-show .tab-wrap-top i.fa {
    color: #FBC7B2;
}

.tab-content-show .tab-wrap-top h3 {
    font-size: 30px;
    font-family: 'Raleway-semibold';
}

.tab-wrap-top-icon a {
    margin-left: 22px;
}

.tab-section .tab-section-icon {
    background-color: #FBC7B2;
    padding: 29px 44px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.tab-section .tab-section-icon {
    font-size: 20px;
    font-family: 'Raleway-semibold';
}

.tab-section .tab-section-icon a i.fa {
    color: #fff;
    margin-right: 7px;
}

.tab-section .tab-section-icon a {
    font-size: 16px;
}

.tab-section .tab-section-content {
    padding: 40px 44px 0 44px;
}

.tab-section .tab-section-content p {
    line-height: 19px;
    margin-bottom: 15px;
}

.tab-section .tab-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 40px;
    padding-right: 80px;
    margin-bottom: 80px;
    margin-top: 21px;
}

.tab-section .tab-button .button-druken {
    width: 306px;
    padding: 15px 0;
    text-align: center;
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
    border-radius: 100px;
    font-family: 'Raleway-Medium';
}

.tab-section .tab-button .button-oben i.fa {
    color: #FBC7B2;
}

.text-underline {
    text-decoration: underline;
}

.hidden-icon,
.drop-menu {
    display: none;
}

.active-icon,
.drop-active {
    display: block !important;
}

.tab-active .drop-menu {
    margin-bottom: 25px;
}


/* profile-main */

.profile-main .profile-banenr-top {
    background: #fff;
    padding-top: 51px;
    padding-bottom: 52px;
}

.profile-main .profile-banenr-top h1 {
    font-family: 'Raleway-semibold';
    font-size: 40px;
    text-align: center;
}

.profile-main .profile-wrap {
    background: #EFEFEF;
    padding-top: 83px;
    padding-bottom: 89px;
}

.profile-main .profile-wrap .profile-content {
    width: 1364px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #FBC7B2;
    padding: 57px 58px 72px 55px;
}

.line-bottom {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FBC7B2;
    margin-bottom: 40px;
    font-family: 'Raleway-semibold';
}

.group-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

#dropdown {
    appearance: none;
    outline: none;
    position: relative;
}

#dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../images/down.svg");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}

.group-all {
    margin-bottom: 30px;
}

.group-all .group-label {
    margin-bottom: 20px;
    font-family: 'Raleway-semibold';
    font-size: 20px;
    display: block;
}

.group-all .group-input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #FBC7B2;
    padding: 23px 21px 24px 21px;
    font-size: 16px;
}

.profile-content-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.profile-content-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
}

.profile-content-top .profile-ct-left,
.col-left {
    width: 765px;
}

.profile-content-top .profile-ct-left h3 {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 35px;
}

.profile-content-top .profile-ct-right,
.col-right {
    width: 399px;
    margin-left: 84px;
}

.profile-ct-right .profile-sumit {
    background-color: #A6BEA5;
    border-radius: 100px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    display: block;
    margin-bottom: 29px;
}

.profile-ct-right .profile-ctr-img img {
    width: 100%;
    height: 399px;
    border-radius: 100% !important;
    margin-bottom: 41px;
}

.profile-ct-right .line-bottom {
    margin-bottom: 30px;
}

.mr-bottom-51 {
    margin-bottom: 51px !important;
}

.profile-specifications {
    margin-top: 50px;
}

.profile-specifications .profile-s-bottom {
    margin-top: 15px;
}

.profile-specifications .profile-s-bottom span {
    font-weight: 600;
    text-decoration: underline;
}

.profile-specifications-bottom .profile-sb-flex {
    text-align: center;
    height: 260px;
    border: 1px solid #FBC7B2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.profile-specifications-bottom img {
    margin-bottom: 15px;
}

.profile-specifications-bottom p {
    font-family: 'Raleway-semibold';
}

.profile-content-center .editparent {
    margin-bottom: unset !important;
}

.profile-content-bottom {
    margin-top: 50px;
}

.profile-content-bottom .profile-cb-icon .profile-cb-icon-desktop {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.profile-content-bottom .profile-cb-icon:first-of-type {
    margin-top: 20px !important;
}

.profile-content-bottom .profile-cb-icon .item-icon {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 40px;
    width: 103px;
    text-align: center;
}

.profile-content-bottom .profile-cb-icon .item-icon img {
    margin-bottom: 10px;
}

.profile-content-bottom .profile-cb-icon .item-icon:last-child {
    margin-right: unset;
}

.profile-cb-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-top: 100px;
}

.profile-cb-button .profile-sumit {
    margin-right: 30px;
    background-color: #A6BEA5;
    border-radius: 100px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    width: 306px;
    display: block;
}

@media (max-width: 576px) {
    .hide-mobile {
        display: none;
    }
    .profile-main .profile-wrap .profile-content {
        width: 100%;
        padding: 37px 20px 45px 20px;
    }
    .profile-ct-right .title-top {
        padding: 0 76px;
        text-align: center;
        margin-bottom: 20px;
        font-size: 20px;
        font-family: 'Raleway-semibold';
    }
    .profile-main .profile-wrap {
        padding: 54px 15px;
    }
    .profile-content-top {
        flex-direction: column-reverse;
    }
    .profile-content-top .profile-ct-right,
    .col-right,
    .profile-content-top .profile-ct-left,
    .col-left {
        width: 100%;
        margin-left: unset;
    }
    .profile-ct-right .profile-sumit {
        margin-bottom: 53px;
    }
    .profile-ct-right .profile-sumit.bg-black {
        margin-bottom: 40px;
    }
    .profile-ct-right .profile-ctr-img img {
        width: 234px;
        height: 234px;
        display: block;
        margin: 0 auto 26px auto;
    }
    .profile-ct-right .line-bottom {
        margin-bottom: 40px;
    }
    .profile-specifications-bottom {
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .profile-ct-left .group-line {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .wysihtml5-toolbar {
        text-align: center;
        margin-bottom: 10px !important;
    }
    ul.wysihtml5-toolbar>li {
        float: unset !important;
        margin: 0 0 10px 0 !important;
    }
    .editor-wysihtml5 {
        height: 546px !important;
    }
    .wysihtml5-sandbox {
        padding: 24px 23px 28px 20px;
    }
    .profile-cb-button {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 50px;
    }
    .profile-cb-button .profile-sumit {
        width: 100%;
    }
    .profile-cb-button .profile-sumit.bg-black {
        margin-top: 20px;
    }
    .profile-content-bottom .profile-cb-icon {
        display: unset;
        flex-direction: unset;
        flex-wrap: unset;
        justify-content: unset;
        align-items: unset;
        align-content: unset;
    }
    .profile-content-bottom .profile-cb-icon-mobile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        margin-left: 53px;
    }
    .profile-content-bottom .profile-cb-icon .item-icon {
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .profile-content-bottom .profile-cb-icon .item-icon:last-child {
        margin-right: 15px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 992px) {}

@media (max-width: 1180px) {}


/* profile-main