* {
    box-sizing: border-box;
}

body {
    background-color: #EFEFEF;
}


/* layout-home */

.layout-homes .lh-top {
    min-height: 897px;
    padding-bottom: 85px;
    background: #EFEFEF;
}

.layout-homes .lh-top img {
    top: 0;
    left: 0;
    z-index: 9;
}

.layout-homes .lht-vertical {
    max-height: 427px;
    height: 100%;
    bottom: 0;
    z-index: 1;
    text-align: right;
}

.layout-homes .lht-text-box {
    z-index: 99;
    bottom: 176px;
}

.layout-homes .content-gemeinsam-box .text-box {
    width: 889px;
    padding: 91px 101px 68px 110px !important;
    background-color: #fff;
    float: right;
    margin-right: 63px;
}

.layout-homes .lht-vertical-text {
    transform-origin: top right;
    right: 0;
    top: 50%;
    transform: rotate(270deg) translateX(85px);
    width: 427px;
    z-index: 999;
    float: right;
    text-align: left;
    margin-right: 43px;
}

.layout-homes .lht-vertical-text a {
    margin-right: 50px;
    text-transform: uppercase;
    color: #000;
    line-height: 24px;
    font-size: 20px;
}

.layout-homes input.email,
.layout-homes input.pass {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #FBC7B2;
    box-sizing: border-box;
    font-size: 16px;
    position: relative;
    z-index: 5;
    background: none;
    padding: 10px;
    font-style: italic;
    margin-bottom: 20px;
}


/* layout-home */

.text-center {
    text-align: center;
}

.font-size-40 {
    font-size: 40px;
}

.bg-white {
    background-color: #fff !important;
}

.bg-black {
    background-color: #000!important;
}

.ddbuch-content .ddbuch-title h1 {
    padding: 52px 0;
}

.ddbuch-wrap {
    background-color: #EFEFEF;
    padding-top: 85px;
}

.ddbuch-container {
    max-width: 1364px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.ddbuch-wrap .ddbuch-wrap-left {
    border: 1px solid #FBC7B2;
    border-radius: 10px;
    max-width: 342px;
    width: 100%;
}

.ddbuch-wrap .ddbuch-wrap-right {
    max-width: 1006px;
    width: 100%;
}

.ddbuch-wrap .ddbuch-wrap-right .tab-content {
    border: 1px solid #FBC7B2;
    border-radius: 10px;
}

.ddbuch-wrap-left .dd-wl-img {
    margin-top: 40px;
    margin-bottom: 26px;
}

.ddbuch-wrap-left .dd-wl-img img {
    width: 144px;
    margin: auto;
}

.tab-wrapper h3 {
    font-size: 30px;
    font-family: 'Raleway-semibold';
    margin-bottom: 18px;
    color: #000;
    cursor: pointer;
}

.tab-wrapper h3 a {
    color: #000;
}

.tab-wrapper i.fa {
    font-size: 16px;
    margin-left: 10px;
}

.tabs-nav li a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 16px;
    color: #000;
    line-height: 25px;
}

.tabs-nav li a i.fa {
    margin-left: 10px;
}

.ddbuch-navigation {
    margin: 89px 0;
}

.ddbuch-navigation ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.ddbuch-navigation ul li {
    margin: 0 5px;
}

.ddbuch-navigation ul li a {
    color: #000;
    font-family: 'Raleway-semibold';
}

.ddbuch-wrap-left .tab-wrapper {
    padding: 0 36px 46px 39px;
}

.tab-content-show .tab-wrap-top {
    padding: 58px 44px 53px 41px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.tab-content-show .tab-wrap-top i.fa {
    color: #FBC7B2;
}

.tab-content-show .tab-wrap-top h3 {
    font-size: 30px;
    font-family: 'Raleway-semibold';
}

.tab-wrap-top-icon a {
    margin-left: 22px;
}

.tab-section .tab-section-icon {
    background-color: #FBC7B2;
    padding: 29px 44px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.tab-section .tab-section-icon {
    font-size: 20px;
    font-family: 'Raleway-semibold';
}

.tab-section .tab-section-icon a i.fa {
    color: #fff;
    margin-right: 7px;
}

.tab-section .tab-section-icon a {
    font-size: 16px;
}

.tab-section .tab-section-content {
    padding: 40px 44px 0 44px;
}

.tab-section .tab-section-content p {
    line-height: 19px;
    margin-bottom: 15px;
}

.tab-section .tab-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 40px;
    padding-right: 80px;
    margin-bottom: 80px;
    margin-top: 21px;
}

.tab-section .tab-button a {
    color: #000;
}

.tab-section .tab-button .button-druken {
    width: 306px;
    padding: 15px 0;
    text-align: center;
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
    border-radius: 100px;
    font-family: 'Raleway-Medium';
}

.tab-section .tab-button .button-oben i.fa {
    color: #FBC7B2;
}

.text-underline {
    text-decoration: underline;
}

.hidden-icon,
.drop-menu {
    display: none;
}

.active-icon,
.drop-active {
    display: block !important;
}

.tabs-nav .drop-menu {
    margin-bottom: 25px;
    display: none;
}

.tab-content-active {
    display: block !important;
}

.fa-up:before {
    content: "\f077";
}

.fa-down:before,
.fa-down-active::before {
    content: "\f078";
}


/* profile-main */

.profile-main .profile-banenr-top {
    background: #fff;
    padding-top: 51px;
    padding-bottom: 52px;
}

.profile-main .profile-banenr-top h1 {
    font-family: 'Raleway-semibold';
    font-size: 40px;
    text-align: center;
}

.profile-main .profile-wrap {
    background: #EFEFEF;
    padding-top: 83px;
    padding-bottom: 89px;
}

.profile-main .profile-wrap .profile-content {
    width: 1364px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #FBC7B2;
    padding: 57px 58px 72px 55px;
}

.line-bottom {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FBC7B2;
    margin-bottom: 40px;
    font-family: 'Raleway-semibold';
}

.group-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

#dropdown {
    appearance: none;
    outline: none;
    position: relative;
}

#dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../images/down.svg");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}

.group-all {
    margin-bottom: 30px;
}

.group-all .group-label {
    margin-bottom: 20px;
    font-family: 'Raleway-semibold';
    font-size: 20px;
    display: block;
}

.group-all .group-input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #FBC7B2;
    padding: 23px 21px 24px 21px;
    font-size: 16px;
}

.profile-content-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.profile-content-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
}

.profile-content-top .profile-ct-left,
.col-left {
    width: 765px;
}

.profile-content-top .profile-ct-left h3 {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 35px;
}

.profile-content-top .profile-ct-right,
.col-right {
    width: 399px;
    margin-left: 84px;
}

.profile-ct-right .profile-sumit {
    background-color: #A6BEA5;
    border-radius: 100px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    display: block;
    margin-bottom: 29px;
}

.profile-ct-right .profile-ctr-img img {
    width: 100%;
    height: 399px;
    border-radius: 100% !important;
    margin-bottom: 41px;
}

.profile-ct-right .line-bottom {
    margin-bottom: 30px;
}

.mr-bottom-51 {
    margin-bottom: 51px !important;
}

.profile-specifications {
    margin-top: 50px;
}

.profile-specifications .profile-s-bottom {
    margin-top: 15px;
}

.profile-specifications .profile-s-bottom span {
    font-weight: 600;
    text-decoration: underline;
}

.profile-specifications-bottom .profile-sb-flex {
    text-align: center;
    height: 260px;
    border: 1px solid #FBC7B2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.profile-specifications-bottom img {
    margin-bottom: 15px;
}

.profile-specifications-bottom p {
    font-family: 'Raleway-semibold';
}

.profile-content-center .editparent {
    margin-bottom: unset !important;
}

.profile-content-bottom {
    margin-top: 50px;
}

.profile-content-bottom .profile-cb-icon .profile-cb-icon-desktop {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.profile-content-bottom .profile-cb-icon:first-of-type {
    margin-top: 20px !important;
}

.profile-content-bottom .profile-cb-icon .item-icon {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 40px;
    width: 103px;
    text-align: center;
}

.profile-content-bottom .profile-cb-icon .item-icon img {
    margin-bottom: 10px;
}

.profile-content-bottom .profile-cb-icon .item-icon:last-child {
    margin-right: unset;
}

.profile-cb-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-top: 100px;
}

.profile-cb-button .profile-sumit {
    margin-right: 30px;
    background-color: #A6BEA5;
    border-radius: 100px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    width: 306px;
    display: block;
}


/* site-main-coaches */

.site-main-coaches .container {
    padding: 0 !important;
    margin: auto !important;
}

.site-main-coaches .container .form {
    width: 100% !important;
}

.site-main-coaches .form .header-table {
    margin-bottom: 20px;
}

.site-main-coaches .form .coach-box .coach .coach-img {
    padding-top: 67px;
}

.site-main-coaches .form .coach-box .coach .coach-img .link a {
    font-family: 'Raleway-medium';
}

.site-main-coaches .header-table ul li a {
    color: #000;
}

.site-main-coaches .action a,
.site-main-coaches .delete a {
    font-family: 'Raleway-medium';
    color: #000;
}

.site-main-coaches .link a {
    font-family: 'Raleway-medium';
    color: #fff;
}

.header-table ul {
    justify-content: flex-end;
}

.header-table ul li:last-child {
    margin-right: 0;
}

.site-main-coaches .form .box-name-button a {
    text-transform: uppercase;
    padding: 2px 13px;
    margin-left: 10px;
    color: #000;
}

.bg-silver {
    background-color: #EFEFEF;
}

.bg-pink {
    background-color: #FBC7B2;
}

.site-main-coaches .form .coach-box .coach .coach-infor .name {
    padding: 58px 20px;
}


/* site-main-gutscheincodes */

.site-main-face2face .table-booking .table-responsive,
.site-main-gutscheincodes .table-booking .table-responsive {
    border-radius: 10px;
    border: 1px solid #FBC7B2;
    overflow: auto;
    max-height: 611px;
    padding-right: 24px;
}

.table-customer .table-booking .table-responsive .table,
.site-main-face2face .table-booking .table-responsive .table,
.site-main-gutscheincodes .table-booking .table-responsive .table {
    margin-bottom: 0;
    background-color: #fff !important;
}

.table-customer .table-booking .scroll-wrapper {
    border-radius: 10px;
    border: 1px solid #FBC7B2;
    overflow: auto;
    max-height: 329px !important;
    padding-right: 24px !important;
    padding-left: 17px!important;
    padding-top: 24px!important;
    padding-bottom: 23px!important;
    background-color: #fff;
}

.site-main-face2face .table-booking .table-responsive .table th,
.site-main-gutscheincodes .table-booking .table-responsive .table th {
    border-bottom: 1px solid #FBC7B2;
    border-right: 1px solid #FBC7B2;
    border-top: unset;
    font-family: 'Raleway-semibold';
    padding: 16px 21px;
}

.site-main-face2face .table-booking .table-responsive .table td,
.site-main-gutscheincodes .table-booking .table-responsive .table td {
    border-right: 1px solid #FBC7B2;
    border-top: 1px solid #FBC7B2;
    padding: 16px 21px;
}

.table-customer .table-booking .table-responsive .table th,
.table-customer .table-booking .table-responsive .table td {
    border: 0 !important;
    background-color: unset !important;
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 10px !important;
}

.table-customer .table-booking .table-responsive .table td {
    margin-bottom: 10px;
    line-height: 19px;
}

.table-customer .table-booking .table-responsive .table td:last-child {
    text-decoration: underline;
}

.site-main-face2face .table-booking .table-responsive .table tbody tr td:last-child,
.site-main-gutscheincodes .table-booking .table-responsive .table tbody tr td:last-child {
    border-right: unset;
}

.site-main-face2face .table-booking .table-responsive .table thead tr th:last-child,
.site-main-gutscheincodes .table-booking .table-responsive .table thead tr th:last-child {
    border-right: unset;
}

.site-main-face2face .table-striped tbody tr:nth-of-type(odd),
.site-main-gutscheincodes .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fffbf9 !important;
}

.table-customer .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff !important;
}

.site-main-face2face .table-striped tbody tr:hover,
.site-main-gutscheincodes .table-striped tbody tr:hover {
    background-color: #FBC7B2!important;
}

.table-customer .table-striped tbody tr:hover {
    background: #fff !important;
}

.site-main-face2face .form .subtitle h1,
.site-main-gutscheincodes .form .subtitle h1 {
    text-transform: capitalize;
}

.site-main-gutscheincodes .content {
    padding: 48px 0px 93px 0px !important;
}

.site-main-face2face .form .tab a,
.site-main-gutscheincodes .form .tab a {
    line-height: 30px;
}

.site-main-gutscheincodes .form .tab {
    margin-bottom: 100px !important;
}

.actived {
    padding-bottom: 5.5px;
}

.form-coach#main-content .content label {
    margin-bottom: 20px;
    font-family: 'Raleway-semibold';
}

.form-coach .form .form-input {
    display: unset!important;
    flex-direction: unset!important;
    margin-bottom: unset!important;
}

.form-coach#main-content .group-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.form-coach#main-content .group-form .group-input label {
    width: 100%;
    font-size: 20px;
}

.form-coach#main-content .group-form .group-input input {
    width: 444px;
    border-radius: 10px;
    border: 1px solid #FBC7B2;
    padding: 24px 21px;
}

.form-coach#main-content .group-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}

.form-coach#main-content .group-button a {
    width: 306px;
    padding: 15px 0;
    text-align: center;
    border-radius: 100px;
    background-color: #FBC7B2;
    color: #fff;
    text-transform: uppercase;
    margin-right: 20px;
}

.site-main-face2face .title .text h1 {
    font-family: 'Raleway-semibold';
}

.table-booking .header-table ul li a {
    font-family: 'Raleway-medium';
    color: #000;
}


/* face page */

.wrap-top-face .form-input input,
.wrap-top-face .form-input label {
    width: 100%;
}

.wrap-top-face .form-input label {
    font-family: 'Raleway-semibold';
    line-height: 24px;
    margin-bottom: 20px;
}

.wrap-top-face .form-input a {
    width: 306px;
    border-radius: 100px;
    background-color: #FBC7B2;
    text-align: center;
    line-height: 19px;
    padding: 15px 0;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway-medium';
}

.wrap-top-face .form-input input {
    line-height: 19px;
    border-radius: 10px;
    border: 1px solid #FBC7B2;
    margin-bottom: 20px;
    padding: 24px 20px;
    height: 66px;
    font-style: italic;
}

.wrap-top-face .form-top-face {
    padding-top: 87px;
    margin-bottom: 50px;
}

.wrap-top-face .form-top-face {
    padding-top: 87px;
    display: flex;
    justify-content: flex-start;
}

.wrap-top-face .form-bottom-face {
    display: flex;
    justify-content: flex-start;
}

.wrap-top-face .form-bottom-face .coaching-unit,
.wrap-top-face .form-top-face .check-customer-number {
    width: 950px;
}

.wrap-top-face .form-bottom-face .manage-customer,
.wrap-top-face .form-top-face .add-customer-number {
    width: 398px;
    margin-left: 18px;
}

.form-bottom-face .input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.form-bottom-face .input input {
    margin-right: 16px;
}

.form-bottom-face .input input:last-child {
    margin-right: unset;
}

.site-main-face2face .table-booking {
    padding-bottom: 89px;
}


/* face page */

@media (max-width: 576px) {
    .container {
        padding: 0;
    }
    .hide-mobile {
        display: none;
    }
    .profile-main .profile-wrap .profile-content {
        width: 100%;
        padding: 37px 20px 45px 20px;
    }
    .profile-ct-right .title-top {
        padding: 0 76px;
        text-align: center;
        margin-bottom: 20px;
        font-size: 20px;
        font-family: 'Raleway-semibold';
    }
    .profile-main .profile-wrap {
        padding: 54px 15px;
    }
    .profile-content-top {
        flex-direction: column-reverse;
    }
    .profile-content-top .profile-ct-right,
    .col-right,
    .profile-content-top .profile-ct-left,
    .col-left {
        width: 100%;
        margin-left: unset;
    }
    .profile-ct-right .profile-sumit {
        margin-bottom: 53px;
    }
    .profile-ct-right .profile-sumit.bg-black {
        margin-bottom: 40px;
    }
    .profile-ct-right .profile-ctr-img img {
        width: 234px;
        height: 234px;
        display: block;
        margin: 0 auto 26px auto;
    }
    .profile-ct-right .line-bottom {
        margin-bottom: 40px;
    }
    .profile-specifications-bottom {
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .profile-ct-left .group-line {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .wysihtml5-toolbar {
        text-align: center;
        margin-bottom: 10px !important;
    }
    ul.wysihtml5-toolbar>li {
        float: unset !important;
        margin: 0 0 10px 0 !important;
    }
    .editor-wysihtml5 {
        height: 546px !important;
    }
    .wysihtml5-sandbox {
        padding: 24px 23px 28px 20px;
    }
    .profile-cb-button {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 50px;
    }
    .profile-cb-button .profile-sumit {
        width: 100%;
    }
    .profile-cb-button .profile-sumit.bg-black {
        margin-top: 20px;
    }
    .profile-content-bottom .profile-cb-icon {
        display: unset;
        flex-direction: unset;
        flex-wrap: unset;
        justify-content: unset;
        align-items: unset;
        align-content: unset;
    }
    .profile-content-bottom .profile-cb-icon-mobile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        margin-left: 53px;
    }
    .profile-content-bottom .profile-cb-icon .item-icon {
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .profile-content-bottom .profile-cb-icon .item-icon:last-child {
        margin-right: 15px;
    }
    .ddbuch-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }
    .ddbuch-wrap {
        padding-left: 17px;
        padding-right: 16px;
    }
    .tab-wrapper h3 {
        font-size: 25px;
        text-align: center;
    }
    .ddbuch-wrap-left .tab-wrapper {
        padding: 0 56px 51px 19px;
    }
    .ddbuch-wrap .ddbuch-wrap-left {
        margin-bottom: 30px;
    }
    .ddbuch-wrap .ddbuch-wrap-left,
    .ddbuch-wrap .ddbuch-wrap-right {
        max-width: 100%;
    }
    .tab-content-show .tab-wrap-top {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        padding: 20px 15px 20px 19px;
    }
    .tab-section .tab-section-icon {
        padding: 20px 15px 20px 19px;
    }
    .tab-section .tab-section-content {
        padding: 20px 15px 20px 19px;
    }
    .ddbuch-navigation {
        margin: 45px auto;
    }
    .tab-section .tab-button {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-end;
        align-content: stretch;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 45px;
        margin-top: 20px;
    }
    .tab-button .button-oben {
        margin-bottom: 20px;
        color: #000;
    }
    .tab-wrap-top-icon {
        margin-top: 22px;
    }
    .tab-content-show .tab-wrap-top h3 {
        font-size: 20px;
    }
    .tab-wrap-top-icon a:first-child {
        margin-left: unset;
        margin-top: 22px;
    }
    .site-main-coaches .form .coach-box .coach {
        flex-direction: column;
    }
    .site-main-coaches .form .coach-box .coach .coach-infor,
    .site-main-coaches .form .coach-box .coach .coach-img {
        width: 100%;
    }
    .site-main-coaches .form .coach-box .coach .coach-img {
        border-bottom: 1px solid #FBC7B2;
        padding-bottom: 24px;
        padding-top: 32px;
    }
    .site-main-coaches .title .text h1 {
        font-size: 25px;
    }
    .site-main-coaches .form .header-table {
        font-family: 'Raleway-medium';
        padding-left: 36px;
        padding-right: 36px;
    }
    .site-main-coaches .header-table .search {
        width: 100%;
    }
    .site-main-coaches .header-table .search ul {
        display: block;
    }
    .site-main-coaches .header-table .search ul li {
        float: left;
    }
    .site-main-coaches .header-table .search ul li:first-child {
        width: 100%;
        margin-bottom: 5px;
    }
    .form-coach#main-content .content {
        padding: 20px 16px 0 17px !important;
    }
    .site-main-coaches .form .coach-box:last-of-type() {
        margin-bottom: unset !important;
    }
    .site-main-coaches .form .coach-box {
        margin-bottom: 45px;
    }
    .site-main-coaches .ddbuch-navigation {
        margin: 0;
        padding-bottom: 44px;
    }
    .site-main-coaches .form .coach-box .coach .coach-infor .description {
        padding: 25px 27px 40px 19px;
    }
    .site-main-coaches .form .coach-box .coach .coach-infor .infor {
        padding: 25px 35px 30px 19px;
    }
    .site-main-coaches .form .coach-box .coach .coach-infor p {
        margin: 0;
        font-family: 'Raleway-medium';
    }
    .site-main-coaches .form .coach-box .coach .coach-infor ul li {
        font-family: 'Raleway-medium';
    }
    .site-main-coaches .coach-infor .infor-line-box {
        margin-bottom: 30px;
    }
    .site-main-coaches .form .coach-box .coach .coach-img .img {
        width: 234px;
        height: 234px;
        margin: 0 auto 20px auto;
        margin-top: 30px;
    }
    .site-main-coaches .form .coach-box .coach .coach-img .action {
        margin-bottom: 0;
    }
    .header-table ul {
        justify-content: flex-start;
    }
    .site-main-coaches .coach-img .name h1 {
        font-size: 20px !important;
        font-family: 'Raleway-semibold';
        margin-bottom: 40px;
    }
    .site-main-coaches .form .box-name-button a {
        font-size: 14px;
    }
    .site-main-coaches .form .box-name-button {
        margin-top: 10px;
    }
    .site-main-gutscheincodes#main-content .content {
        padding: 0 35px !important;
    }
    .form-coach#main-content .group-form .group-input input,
    .site-main-gutscheincodes#main-content .content .form {
        width: 100%;
    }
    .site-main-gutscheincodes .form .tab a {
        font-size: 16px;
        margin-right: 32px;
        margin-top: 20px;
        font-family: 'Raleway-medium';
    }
    .site-main-gutscheincodes .form .subtitle {
        margin-right: 0;
        margin-bottom: 54px;
    }
    .site-main-gutscheincodes .form .subtitle h1 {
        font-size: 25px;
        padding-right: 83px;
        font-family: 'Raleway-semibold';
    }
    .form-coach#main-content .group-button,
    .form-coach#main-content .group-form {
        flex-direction: column;
        width: 100%;
    }
    .form-coach#main-content .group-button a:first-child {
        margin-bottom: 20px;
    }
    .form-coach#main-content .group-button a {
        width: 100%;
        margin-right: 0;
        font-family: 'Raleway-medium';
    }
    .form-coach#main-content .group-form .group-input label {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .form-coach#main-content .group-form .group-input {
        margin-bottom: 20px;
    }
    .site-main-gutscheincodes .title .text h1 {
        font-size: 25px;
    }
    .site-main-gutscheincodes .form .tab {
        display: flex;
        margin-bottom: 45px !important;
    }
    .site-main-gutscheincodes .form .table-booking {
        margin-top: 79px;
        margin-bottom: 45px;
    }
    .site-main-face2face .table-booking .label,
    .site-main-gutscheincodes .form .table-booking .label {
        width: 100%;
    }
    .site-main-face2face .table-booking .header-table,
    .site-main-gutscheincodes .form .table-booking .header-table {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .site-main-face2face .title .text {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .site-main-face2face .title .text h1 {
        font-size: 25px;
        height: 120px;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .wrap-top-face .form-top-face div:first-child {
        margin-bottom: 40px;
    }
    .wrap-top-face .form-top-face .check-customer-number,
    .wrap-top-face .form-top-face .add-customer-number {
        margin-left: unset;
        width: 100%;
    }
    .wrap-top-face .form-top-face {
        padding-top: 0 !important;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .wrap-top-face .form-bottom-face {
        flex-direction: column-reverse;
        width: 100%;
        margin-bottom: 80px;
    }
    .wrap-top-face .form-bottom-face .coaching-unit,
    .wrap-top-face .form-top-face .check-customer-number {
        width: 100%;
        margin-left: unset;
    }
    .wrap-top-face .form-bottom-face .manage-customer,
    .wrap-top-face .form-top-face .add-customer-number {
        margin-left: unset !important;
        width: 100%;
    }
    .site-main-face2face .content {
        padding: 42px 35px 46px 35px;
    }
    .wrap-top-face .form-input a,
    .table-customer .table-booking .scroll-wrapper {
        width: 100%;
    }
    .site-main-face2face .table-booking {
        padding-bottom: 35px;
    }
    .form-bottom-face .input {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: center;
    }
    .form-bottom-face .input input {
        width: 100%;
    }
    .site-main-face2face .table-booking .table-responsive,
    .site-main-gutscheincodes .table-booking .table-responsive {
        padding-right: 0 !important;
    }
    .table-customer .table-booking .scroll-wrapper,
    .site-main-gutscheincodes .table-booking .scroll-wrapper {
        padding-right: 0 !important;
    }
}

@media (max-width: 768px) {}

@media (max-width: 992px) {}

@media (max-width: 1180px) {}


/* profile-main